body {
    margin: 0px;
}

.navbar {
    position: sticky;
    top: 0px;
    left: 0px;
    min-height: 50px;
    height: 10%;
    min-width: 300px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.twitch-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    background: #6441a5;
    display: flex;
    align-items: center;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0px;
    min-width: 250px;
    text-align: center;
    width: 100%;
    align-self: center;
}

.refresh {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 45%;
    margin: auto 10px;
    cursor: pointer;
}

.filter {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    background: #eee;
    cursor: pointer;
    box-sizing: border-box;
}

.first-filter {
    justify-content: flex-end;
}

.filter-title {
    margin: 0px 5px;
}

.filter-title, .filter-color {
    opacity: 0.3;    
}

.filter.active {
    opacity: 1;
}

.filter-color {
    width: 5%;
    border-radius: 3px;
    min-height: 20px;
    min-width: 20px;
    margin-top: -3px;
    margin-left: 5px;
}

.online {
    box-shadow: 0px 0px 5px 2px lightgreen;
}

.offline {
    box-shadow: 0px 0px 5px 2px orangered; 
}

.lightgreen {
    background: greenyellow;
}

.orangered {
    background: orangered;
}



.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.streamer-card {
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: repeat(3,1fr);
    border-bottom: 1px dotted lightgray;
    padding: 25px 15px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.streamer-img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    max-height: 100px;
    width: auto;
    border-radius: 5px;
}

.streamer-card-item-2, .streamer-card-item-3, .streamer-card-item-4 {
    grid-column: 2 / -1;
    margin: auto 10px;
}

.streamer-card-item-2 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.streamer-card-item-3 {
    font-size: 1.2em;
}

.streamer-card-item-4 {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 300;
    color: gray;
}



@media screen and ( min-width: 700px ) {
    .streamer-card {
        font-size: 1.6em;
        grid-template-columns: 1fr 2fr;
    }

    .streamer-img {
        max-height: 135px;
        justify-self: end;
    }
}


@media screen and ( min-width: 1000px ) {

    main {
        margin: 0px 50px 
    }

    .streamer-card {
        font-size: 1.7em;
        grid-column-gap: 30px;
        grid-template-columns: 1fr 2fr;
    }
    .streamer-img {
        max-height: 145px;
    }

}


/** IPAD PRO ONLY*/
@media only screen and (height : 1366px) and (width : 1024px),
       only screen and (height : 1024px) and (width : 1366px) {
    body {
        font-size: 2em;
    }
    .streamer-card {
        grid-template-columns: 4fr 15fr;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 1.2em;
        grid-column-gap: 10px;
    }
    .streamer-img {
        max-height: 175px;
    }
}


/** IPAD ONLY*/
@media only screen and (height : 1024px) and (width : 768px) {
    .streamer-card {
        font-size: 1.6em;
        grid-column-gap: 10px;
    }
    .streamer-img {
        max-height: 170px;
    }
}

/** IPAD landscape */
@media only screen and (height : 768px) and (width : 1024px) {
    .streamer-card {
        font-size: 1.6em;
        grid-column-gap: 10px;
    }
    .streamer-img {
        justify-self: end;
        max-height: 130px;
    }
    .streamer-card-item-4 {
        margin-top: 0px;
    }
}

/** IPHONE 5 LANDSCAPE */
@media only screen 
and (device-height : 320px)
and (device-width : 568px) 
and (orientation : landscape) {
    .streamer-card {
        padding: 0px 15px;
        border: none;
        margin: 15px 0px;
        min-height: 30%;
    }
}


/** IPHONE 5 PORTRAIT */
@media only screen 
and (device-width : 320px)
and (device-height : 568px)  {
    .streamer-card {
        border: none;
        margin-top: 15px;
        padding: 0px;
    }
}


/** IPHONE 6/7/8  */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .streamer-card {
        border: none;
        align-self: center;
    }
}


/** IPHONE 6 LANDSCAPE */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
    .streamer-card {
        align-self: center;
        min-height: 35%;
    }
}


/* IPHONE X */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
    .streamer-card {
        padding: 15px 15px;
        border: none;
    }
}

/* IPHONE X  LANDSCAPE*/
@media only screen 
    and (device-width : 812px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 3) {
    .streamer-card {
        font-size: 1em;
        padding: 0px 15px;
        margin-top: 15px;
        border: none;
        min-height: 30%;        
    }
    .streamer-img {
        justify-self: end;
    }
    .streamer-card-item-4 {
        margin-top: 0px;
    }

}


